<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297797240603-6csku856pftn2sf6091u9404brqmhn1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297797240603-6csku856pftn2sf6091u9404brqmhn1k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>hsk-55m5h9plg4kkmkniga9ar5cl0usjsjiv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>api_key</string>
	<key>GCM_SENDER_ID</key>
	<string>297797240603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.carbonMint</string>
	<key>PROJECT_ID</key>
	<string>carbonmint-4bc7e</string>
	<key>STORAGE_BUCKET</key>
	<string>carbonmint-4bc7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297797240603:ios:06eb33f5087f71336475be</string>
</dict>
</plist>